.background {
    width: 100%;
    height: 40%;
    position: relative;

.truck {
    width: 100%;
    height: 40%;
    position: absolute;
}

.orange {
    width: 100%;
    height: 40%;
    position: absolute;
}

}