.alert-delete {
  position: relative;
  display: flex;
  justify-content: center;
  top: 5px;
}

.question-buttons{
  position: relative;
  top: 5vh;
}

.background-confirm-delete{
    background-color: #d5f0c1;
    height: 15vh;
    padding-top: 15px;
    position: relative;
    top: 0vh !important;
}