.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 10px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 300px;

}

a{
    text-decoration: none;
}


button{
    margin: 3px;
}