.validada{
    color : green;
    display:contents;
}

.no-validada{
    color : red;
    display:contents;


}

span{
    font-weight: 900;
}

#client-profile a{
    cursor: pointer;
    color: black;
    &:hover{
        color:#2C7865;
    }
    
}
.a{
    width: 60px;
    height: 10px;
   
    
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    background-color: lightslategrey;

}

#mainMenu {
    width: 100%;
    height: 750px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-variant: small-caps;
    display: flexbox;
    background-color:#D5F0C1;
    margin-top: 10px;

}